[submodule "magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "awesome-emacs"]
	path = awesome-emacs
	url = https://github.com/emacs-tw/awesome-emacs.git
[submodule "org-mode"]
	path = git/org-mode
	url = git://orgmode.org/org-mode.git
